/* shared related styles */

body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #FFF;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
background: #FF900E;
border: none;
padding: 20px 25px;
cursor: pointer;


}
.main-title{
    color: #131313;
font-size: 45px;
font-weight: 700;
}
.main-desc{
    color:  #727272;
font-size: 1rem;
font-weight: 400;
}

/* header related styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style-type: none;
    color:  #424242;
    font-size: 1.2rem;
    font-weight: 500;
   
}
nav > ul{
    display: flex;
    gap: 35px;
}
nav ul a{
    text-decoration: none;
}
.nav-title{
    color: #131313;
font-size: 2.8rem;
font-weight: 700;
}
/* banner related styles */
 .banner-content{
    max-width: 868px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
font-size: 4rem;
font-weight: 700;
margin-bottom: 32px;
}
.banner-desc{
    color: #727272;
font-size: 1rem;
font-weight: 400;
margin-bottom: 32px;
}
 .banner-img{
    width: 100%;
    margin-top: 50px;
   
 }
 /* css main section */
 main{
    max-width: 1440px;
    margin: 0 auto;
 }

 /* teams-related section */
 .teams-container{
    display: flex;
    align-items: center;
   
 }
 .teams-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) ;
    gap: 24px;
    margin-top: 85px;
 }
 .quick{
    color:  #727272;
font-size: 2.8rem;
font-weight: 500;
 }
 .features{
    color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
 }
 .btn{
    margin-top: 32px;
 }
 .teams-content{
    margin-right: 70px;
    margin-left: 70px;
 }
 /* features section start */

 /* some facts section */
 .some{
    margin-bottom: 24px;
 }
 .some-desc{
    margin-bottom: 100px;
 }
 .facts-images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  

    
 }
 .cards{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px 30px;
 }
 .some-states{
    color: #424242;
font-size: 2.8rem;
font-weight: 600;
margin-top: 10px;
margin-bottom: 10px;
 }
 .some-title{
    color:  #727272;
font-size: 1.25rem;
font-weight: 600;
 }

 /* css responsive style mobile devices */
 @media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-images{
        flex-direction: column;
    }
    .facts-images{
        gap: 20px;
    }
    .teams-images{
        grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr) ;
    }
    
 }

 /* css responsive style with medium device */
 @media screen and (min-width:576px) and (max-width:992px){
    header{
        padding: 50px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
 }
